body {
	margin: 0;
	font-family: Helvetica;	
}

#pic {
	height: 100px;
	width: auto;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}